<!-- <h1 style="background: red" apDarkenOnHover brightness="20%">Photos</h1> -->
<!-- direct can receive parameter -->

<ap-search
    (onTyping)="filter = $event" [value]="filter"> <!-- blue is in children(ap-search) and red is in father(photo-list-component.ts)-->
</ap-search>

<ap-photos [photos]="photos | filterByDescription: filter"></ap-photos>

<ap-load-button
    (click)="load()" 
    [hasMore]="hasMore">
</ap-load-button>
<!-- binding on click event to load function into the component -->

