<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">ALURAPIC</a>


        <!-- quando lidamos com o Observable e aplicamos o Async pipe no template, 
            o Angular terá acesso à sua inscrição realizada, como se o template fizesse o subscribe(), 
            acessasse o valor e nos entregasse -->
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="mr-1">{{ user.name }}</a>
            <a (click)="logout()">(Logout)</a>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <!-- To redirect to other pages, isn't allowed use href in these cases. We going to refresh the page and lose the page state -->
                <a [routerLink]="['']">Please, login!</a> 
            </span>
        </ng-template>

    </nav>
</header>